//
// Grid system
// --------------------------------------------------

// Container
.container {
  margin-left: 0;
  margin-right: 0;
  padding-left: $grid-padding;
  padding-right: $grid-padding;
  @include clearfix;
}

// Row
.row {
  @include clearfix;
  display: block;
  margin: 0 -$grid-padding;
  padding-bottom: $grid-padding*2;
}

// Column
.col {
  position: relative;
  display: block;
  padding-bottom: 2*$grid-padding;
  @include media('>xs') {
    float: left;
    padding: 0 $grid-padding 2*$grid-padding;
  }

  > * {
    padding: $grid-padding*3;
  }
}

// xs grid
@include make-ratio-columns(xs);

// sm grid
@include media('>=sm') {
  @include make-ratio-columns(sm);
}

// md grid
@include media('>=md') {
  @include make-ratio-columns(md);
}

// lg grid
@include media('>=lg') {
  @include make-ratio-columns(lg);
}

// xl grid
@include media('>=xl') {
  @include make-ratio-columns(xl);
}
