//
// Grid system
// --------------------------------------------------

// Container
.container {

}

// Row
.row {
  display: flex;

  width: 100%;
}

// Column
.col {

  display:flex;
  flex:0 1 0%;
  flex-flow: column nowrap;

  .cell {
    padding:0 $grid-padding;
  }

}

// xs grid
@include make-ratio-grid(xs, $ratio-golden, $grid-cols);

// sm grid
@include media('>=sm') {
  @include make-ratio-grid(sm, $ratio-golden, $grid-cols);
}

// smd grid
@include media('>=smd') {
  @include make-ratio-grid(smd, $ratio-golden, $grid-cols);
}

// md grid
@include media('>=md') {
  @include make-ratio-grid(md, $ratio-golden, $grid-cols);
}

// lg grid
@include media('>=lg') {
  @include make-ratio-grid(lg, $ratio-golden, $grid-cols);
}

// xl grid
@include media('>=xl') {
  @include make-ratio-grid(xl, $ratio-golden, $grid-cols);
}
