//
// Ratios
// -----------------------------------------------------------------------------

$ratio-golden: 1.618;

//
// Colors
// -----------------------------------------------------------------------------

//
// Scaffolding
// -----------------------------------------------------------------------------

//
// Typography
// -----------------------------------------------------------------------------

//
// Media Query Breakpoints
// -----------------------------------------------------------------------------

$breakpoints: (
  'xs': 480px,
  'sm': 600px,
  'md': 840px,
  'lg': 960px,
  'xl': 1200px
);

//
// Grid System
// -----------------------------------------------------------------------------

$grid-padding: 1em;
