//
// Ratios
// -----------------------------------------------------------------------------

$ratio-golden: 1.118;

//
// Colors
// -----------------------------------------------------------------------------

$color-primary: #FF02B8;
$color-secondary: #9F0AFF;
$color-tertiary: #1202FF;

//
// Scaffolding
// -----------------------------------------------------------------------------

//
// Typography
// -----------------------------------------------------------------------------

$base-font-size: 12px;

//
// Media Query Breakpoints
// -----------------------------------------------------------------------------

$breakpoints: (
  'xs': 480px,
  'sm': 600px,
  'md': 840px,
  'lg': 960px,
  'xl': 1200px
);

//
// Grid System
// -----------------------------------------------------------------------------

$grid-padding: 2px;
$grid-cols: 8;
