<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="favicon.png">
  <title>Ross Teichner | Creative Technology</title>
  <!-- build:css -->
  <!-- endbuild -->
</head>
<body>

  <!-- Fullview wrapper -->
  <div id="site-container" class="container">
    <!-- LogoBar -->
    <header id="site-header">
      <!-- logo -->
      <img src="img/logo.svg">
    </header>
    <main id="site-main">
      <!-- Cover -->
      <section id="site-main-cover" class="site-layer">
        <a class="btn btn-action">check me out</a>
      </section>
      <!-- Video Background -->
      <section id="site-main-hero" class="site-layer">
        <!-- <video
          autoplay
          playsinline
          webkit-playsinline
          width="1280"
          height="720"
          autoplay
          loop
          muted
          src="video/project-reel.mp4">
        </video> -->
      </section>
      <!-- About Me -->
      <section id="site-main-body" class="site-layer">
        <!-- Heading -->
        <div id="site-main-heading">
          <h1 class="h3">Ross Teichner</h1>
          <h2 class="h1">Creative Technology</h2>
        </div>
        <!-- Blurb -->
        <div id="site-main-blurb">
          <p>

          </p>
        </div>
        <!-- links (linkedIn, Twitter, Instagram) -->
      </section>
    </main>
    <footer id="site-footer">
      <div id="site-main-social">
        <ul id="social-link-list" class="list list-unstyled">
          <li class="list-item list-link">
            <a href="https://www.linkedin.com/in/rossteichner/" target="_blank" class="btn btn-social btn-social-linkedin">Linked In</a>
          </li>
          <li class="list-item list-link">
            <a href="https://www.instagram.com/roboteich/" target="_blank" class="btn btn-social btn-social-instagram">Instagram</a>
          </li>
          <li class="list-item list-link">
            <a href="https://twitter.com/roboteich" target="_blank" class="btn btn-social btn-social-twitter">Twitter</a>
          </li>
          <!-- <li class="list-item list-link">
            <a href="" class="btn btn-social btn-social-email">Email</a>
          </li> -->
        </ul>
      </div>
    </footer>
  </div>
  <!-- build:js -->
  <!-- endbuild -->
</body>
</html>
