<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ross Teichner | Creative Technology</title>
  <!-- build:css -->
  <!-- endbuild -->
</head>
<body>
  <div id="site-container" class="container">
    <div class="row">
      <div class="col col-xs-1-8 col-sm-15-8 col-md-1-8">
        <div>1</div>
      </div>
      <div class="col col-xs-2-8 col-sm-15-8 col-md-2-8">
        <div>2</div>
      </div>
      <div class="col col-xs-3-8 col-sm-15-8 col-md-3-8">
        <div>3</div>
      </div>
      <div class="col col-xs-4-8 col-sm-15-8 col-md-4-8">
        <div>4</div>
      </div>
      <div class="col col-xs-5-8 col-sm-15-8 col-md-5-8">
        <div>5</div>
      </div>
      <div class="col col-xs-6-8 col-sm-15-8 col-md-6-8">
        <div>6</div>
      </div>
      <div class="col col-xs-7-8 col-sm-15-8 col-md-7-8">
        <div>7</div>
      </div>
      <div class="col col-xs-8-8 col-sm-15-8 col-md-8-8">
        <div>8</div>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-1-8">
        <div class="col-index">1</div>
      </div>
      <div class="col col-sm-2-8">
        <div class="col-index">2</div>
      </div>
      <div class="col col-sm-3-8">
        <div class="col-index">3</div>
      </div>
      <div class="col col-sm-4-8">
        <div class="col-index">4</div>
      </div>
      <div class="col col-sm-5-8">
        <div class="col-index">5</div>
      </div>
      <div class="col col-sm-6-8">
        <div class="col-index">6</div>
      </div>
      <div class="col col-sm-9-8">
        <div class="col-index">9</div>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-1-8">
        <div class="col-index">1</div>
      </div>
      <div class="col col-sm-2-8">
        <div class="col-index">2</div>
      </div>
      <div class="col col-sm-3-8">
        <div class="col-index">3</div>
      </div>
      <div class="col col-sm-4-8">
        <div class="col-index">4</div>
      </div>
      <div class="col col-sm-5-8">
        <div class="col-index">5</div>
      </div>
      <div class="col col-sm-10-8">
        <div class="col-index">10</div>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-1-8">
        <div class="col-index">1</div>
      </div>
      <div class="col col-sm-2-8">
        <div class="col-index">2</div>
      </div>
      <div class="col col-sm-3-8">
        <div class="col-index">3</div>
      </div>
      <div class="col col-sm-4-8">
        <div class="col-index">4</div>
      </div>
      <div class="col col-sm-11-8">
        <div class="col-index">11</div>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-1-8">
        <div class="col-index">1</div>
      </div>
      <div class="col col-sm-2-8">
        <div class="col-index">2</div>
      </div>
      <div class="col col-sm-3-8">
        <div class="col-index">3</div>
      </div>
      <div class="col col-sm-12-8">
        <div class="col-index">12</div>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-1-8">
        <div class="col-index">1</div>
      </div>
      <div class="col col-sm-2-8">
        <div class="col-index">2</div>
      </div>
      <div class="col col-sm-13-8">
        <div class="col-index">13</div>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-1-8">
        <div class="col-index">1</div>
      </div>
      <div class="col col-sm-14-8">
        <div class="col-index">14</div>
      </div>
    </div>
  </div>
</div>
  <!-- build:js -->
  <!-- endbuild -->
</body>
</html>
